*.gradle
*.settings
*.classpath
*.project
*.log
build
bin
log
!client/unity/chasing-client/
client/unity/chasing-client/*
client/unity/chasing-client/**/*.meta
!client/unity/chasing-client/Assets
client/unity/chasing-client/Assets/*
!client/unity/chasing-client/Assets/gameScene
!client/unity/chasing-client/Assets/systemScene
!client/unity/chasing-client/Assets/script
!client/unity/chasing-client/Assets/db
!client/unity/chasing-client/Assets/plugins