*.settings
*.classpath
*.project
*.log
*.DS_Store
.gradle/
.idea/
build/
bin/
log/
chasing-client/
!chasing-client/unity/chasing-client/
chasing-client/unity/chasing-client/*
!chasing-client/unity/chasing-client/Assets
chasing-client/unity/chasing-client/Assets/*
!chasing-client/unity/chasing-client/Assets/gameScene
!chasing-client/unity/chasing-client/Assets/systemScene
!chasing-client/unity/chasing-client/Assets/script
!chasing-client/unity/chasing-client/Assets/db
!chasing-client/unity/chasing-client/Assets/plugins
chasing-client/unity/chasing-client/**/*.meta
