<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prosper.chasing.data.mapper.GameMapper">

	<resultMap id="gameMap" type="Game">
		<result property="id" column="pk_id" />
		<result property="metagameId" column="fk_metagame_id" />
		<result property="duration" column="duration" />
		<result property="state" column="state" />
		<result property="server" column="server" />
		<result property="creatorId" column="creator_id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="selectOne" parameterType="Map" resultMap="gameMap">
		SELECT * 
		FROM t_game
		WHERE pk_id = #{id}
	</select>
	
	<select id="selectListByPage" parameterType="Map" resultMap="gameMap">
        SELECT * 
        FROM t_game
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
    
    <select id="selectListByIds" parameterType="Map" resultMap="gameMap">
        SELECT * 
        FROM t_game
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
    
    <select id="selectListByStatePage" parameterType="Map" resultMap="gameMap">
        SELECT * 
        FROM t_game
        WHERE state = #{state}
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
    
     <select id="selectListByStateAndServer" parameterType="Map" resultMap="gameMap">
        SELECT * 
        FROM t_game
        WHERE state = #{state}
        AND server = #{server}
        ORDER BY pk_id
        LIMIT #{limit}
    </select>
    
    <insert id="insert" parameterType="Game" useGeneratedKeys="true" keyProperty="id" keyColumn="pk_id">
		INSERT INTO t_game
		SET fk_metagame_id = #{metagameId},
		    duration = #{duration},
		    state = #{state},
		    server = #{server},
		    creator_id = #{creatorId},
            create_time = #{createTime},
            update_time = #{updateTime}
	</insert>

	<update id="update" parameterType="Game">
		UPDATE t_game
        SET duration = #{duration},
            state = #{state},
            server = #{server},
            creator_id = #{creatorId},
            update_time = #{updateTime}
		WHERE pk_id = #{id}
	</update>
	
	<update id="updateGameByState" parameterType="Game">
        UPDATE t_game
        SET state = #{targetState},
            server = #{server},
            creator_id = #{creatorId},
            update_time = #{updateTime}
        WHERE state = #{sourceState}
        ORDER BY pk_id
        LIMIT #{limit}
    </update>

	<delete id="delete" parameterType="Map">
		delete from t_game
		where pk_id = #{id}
	</delete>
	
</mapper>