<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prosper.chasing.data.mapper.MetagameTypeMapper">

	<resultMap id="metagameTypeMap" type="MetagameType">
		<result property="id" column="pk_id" />
		<result property="name" column="name" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="selectOne" parameterType="Map" resultMap="metagameTypeMap">
		SELECT * 
		FROM t_metagame_type
		WHERE pk_id = #{id}
	</select>
	
	<select id="selectListByPage" parameterType="Map" resultMap="metagameTypeMap">
        SELECT * 
        FROM t_metagame_type
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
    
    <select id="selectListByIds" parameterType="Map" resultMap="metagameTypeMap">
        SELECT * 
        FROM t_metagame_type
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
    
    <select id="selectAll" parameterType="Map" resultMap="metagameTypeMap">
        SELECT * 
        FROM t_metagame_type
    </select>
    
    <insert id="insert" parameterType="metagameType" useGeneratedKeys="true" keyProperty="id" keyColumn="pk_id">
		INSERT INTO t_metagame_type
		SET name = #{name},
            create_time = #{createTime},
            update_time = #{updateTime}
	</insert>

	<update id="update" parameterType="metagameType">
		UPDATE t_metagame_type
        SET name = #{name},
            update_time = #{updateTime}
		WHERE pk_id = #{id}
	</update>

	<delete id="delete" parameterType="Map">
		delete from t_metagame_type
		where pk_id = #{id}
	</delete>
	
</mapper>