<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="User" type="com.prosper.chasing.game.http.bean.User" />
		<typeAlias alias="UserData" type="com.prosper.chasing.game.http.bean.UserData" />
		<typeAlias alias="Prop" type="com.prosper.chasing.game.http.bean.Prop" />
		<typeAlias alias="UserProp" type="com.prosper.chasing.game.http.bean.UserProp" />
		<typeAlias alias="Friend" type="com.prosper.chasing.game.http.bean.Friend" />
	</typeAliases>

	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/UserDataMapper.xml" />
		<mapper resource="mapper/PropMapper.xml" />
		<mapper resource="mapper/UserPropMapper.xml" />
		<mapper resource="mapper/FriendMapper.xml" />
	</mappers>
</configuration>

