<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prosper.chasing.data.mapper.MetagameMapper">

	<resultMap id="metagameMap" type="Metagame">
		<result property="code" column="code" />
		<result property="duration" column="duration" />
		<result property="state" column="state" />
		<result property="types" column="types" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="selectListByPage" parameterType="Map" resultMap="metagameMap">
        SELECT * 
        FROM t_metagame
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
    
	<select id="selectAll" parameterType="Map" resultMap="metagameMap">
		SELECT *
		FROM t_metagame
	</select>

    <insert id="insert" parameterType="Metagame" useGeneratedKeys="true" keyProperty="id" keyColumn="pk_id">
		INSERT INTO t_metagame
		SET code = #{code},
		    duration = #{duration},
		    state = #{state},
		    types = #{types},
            create_time = #{createTime},
            update_time = #{updateTime}
	</insert>

	<update id="update" parameterType="Metagame">
		UPDATE t_metagame
        SET code = #{code},
            duration = #{duration},
            state = #{state},
            types = #{types},
            update_time = #{updateTime}
		WHERE pk_id = #{id}
	</update>

</mapper>