<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="User" type="com.prosper.chasing.data.bean.User" />
		<typeAlias alias="UserData" type="com.prosper.chasing.data.bean.UserData" />
		<typeAlias alias="Prop" type="com.prosper.chasing.data.bean.Prop" />
		<typeAlias alias="UserProp" type="com.prosper.chasing.data.bean.UserProp" />
		<typeAlias alias="Friend" type="com.prosper.chasing.data.bean.Friend" />
		<typeAlias alias="Game" type="com.prosper.chasing.data.bean.Game" />
		<typeAlias alias="GameUser" type="com.prosper.chasing.data.bean.GameUser" />
		<typeAlias alias="Metagame" type="com.prosper.chasing.data.bean.Metagame" />
		<typeAlias alias="MetagameType" type="com.prosper.chasing.data.bean.MetagameType" />
	</typeAliases>

	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/UserDataMapper.xml" />
		<mapper resource="mapper/PropMapper.xml" />
		<mapper resource="mapper/UserPropMapper.xml" />
		<mapper resource="mapper/FriendMapper.xml" />
		<mapper resource="mapper/GameMapper.xml" />
		<mapper resource="mapper/GameUserMapper.xml" />
		<mapper resource="mapper/MetagameMapper.xml" />
		<mapper resource="mapper/MetagameTypeMapper.xml" />
	</mappers>
</configuration>

